<launch>
  <arg name="contact_enabled" default="false" doc="Enable OptoForce contact sensors" />
  <arg name="imu_enabled" default="true" doc="Enable IMU sensor" />
  <arg name="mocap_type" default="" doc="Type of mocap system (blank to not start mocap)" />

  <node pkg="dyret_hardware" name="hardware_manager" type="hardware_manager" required="true" output="screen" launch-prefix="bash -c 'sleep 5.0; $0 $@'" />

  <node pkg="rosserial_python" name="serial_node" type="serial_node.py">
    <param name="port" value="/dev/dyretActuatorBoard" />
  </node>

  <remap from="/imu/data" to="/dyret/sensor/imu" />
  <remap from="/imu_data_str" to="/dyret/sensor/raw/imu_data_str" />
  <remap from="/time_reference" to="/dyret/sensor/raw/imu_time_reference" />
  <remap from="/velocity" to="/dyret/sensor/raw/imu_velocity" />

  <node pkg="xsens_driver" type="mtnode.py" name="xsens_driver" if="$(arg imu_enabled)" launch-prefix="bash -c 'sleep 2.5; $0 $@'" >
    <param name="frame_id" value="/imu" />
    <param name="initial_wait" value="0.1" />
    <param name="frame_local" value="ENU" />
    <param name="device" value="/dev/dyretImu" />
    <param name="baudrate" value="0" />
    <param name="timeout" value="0.0025" />
    <param name="no_rotation_duration" value="0"/>
    <rosparam param="orientation_covariance_diagonal" subst_value="True">[0.01745, 0.01745, 0.15708]</rosparam>
    <rosparam param="linear_acceleration_covariance_diagonal" subst_value="True">[0.0004, 0.0004, 0.0004]</rosparam>
    <rosparam param="angular_velocity_covariance_diagonal" subst_value="True">[0.0004, 0.0004, 0.0004]</rosparam>
  </node>

  <include if="$(arg contact_enabled)" file="$(find dyret_hardware)/launch/optoforce.launch" />

  <include file="$(find dyret_hardware)/launch/mocap_$(arg mocap_type).launch" if="$(eval arg('mocap_type') != '')" />

</launch>
