<launch>
  <arg name="contact_enabled" default="false" doc="Enable contact sensors" /> 
  <include file="$(find dyret_hardware)/launch/standalone.launch"> 
    <arg name="contact_enabled" value="$(arg contact_enabled)" /> 
  </include> 

  <remap from="/mocap_node/Robot_1/pose" to="/dyret/sensor/pose" />
  <include file="$(find mocap_optitrack)/launch/mocap.launch"> 
    <arg name="mocap_config_file" value="$(find dyret_hardware)/cfg/mocap.yaml" /> 
  </include> 

</launch>
